html, body {
    height: 100%;
}
            
.bs_container {
    min-height: 100%;
    height: 100%;
}




.row_0 {
    height: 0%;
    background-color: #ECE1DC;
    border: none;
}
            
.row_1 {
    height: 50%;
    background-color: #ECE1DC;
    border: none;
}
            
.row_2 {
    height: 50%;
    background-color: #ECE1DC;
    border: none;
}
            
.row_3 {
    height: 0%;
    background-color: #ECE1DC;
    z-index: 2;
    border: none;
}

.part_b {
    margin: auto;
    text-align: center;
    border: none;
}

.gnosis_style {
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: normal;
	font-size: 60px;
    text-align: center;
    border: none;
}

.bottom_message {
    font-family: "Arial Narrow", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
	font-size: 14px;
    text-align: center; 
    border: none;       
}

.slide_down_div {
    width: 100%;
    background: url(slide_down.svg);
    background-size: 100% 100%;
    text-align: center;
    border: none;
}

.content_1 {
    display: none;
    color: #ECE1DC;
}

.big_text {
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: normal;
	font-size: 60px;
    text-align: center;   
    border: none;
}

.percentage {
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    font-weight: normal;
	font-size: 60px;
    text-align: center; 
    border: none;    
}

.small_text {
    font-family: "Arial Narrow", Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
	font-size: 14px;
    text-align: center;    
    border: none;  
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
    border: none;
}

/* Clear floats after the columns */
.row_x:after {
    content: "";
    display: table;
    clear: both;
    border: none;
}